asyncpg==0.29.0
fastapi~=0.115.12
uvicorn[standard]~=0.34.0
sqlalchemy~=2.0.40
psycopg2-binary~=2.9.10
python-jose~=3.4.0
passlib[bcrypt]~=1.7.4
python-dotenv~=1.1.0
python-multipart~=0.0.20
bcrypt
email-validator
